{{ pillar['headers']['salt']['file'] }}
-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA6PXG2wPI/bWkYcxPdtBd
eXDfoypmbphi0oE8mAJ6U9BrCBSOT0ZawMSQLTVQb36PjlYV/vNOIiwe0XRygLiG
FLxArh+htM4G4n5uyZT/r/YxXf6kVxLUa4cRDAVv03mY1Gn8oPHrCZqDaN0YjINE
0HoCvfJx8Qv2SVn9C7UOmKhsso3odvmSJaXhLPccUTeIB2CYiwKLcw8Vx4CrxjY6
LuufCVQfeR3j6xA55UHoVeIm5wAy1yY0A1OLjQREvKxk5TgBcGFYONEjC0rTSxbS
cnN5qMZO3zWSYeYAHCZPbDwAw4sBvYgVJ2i6il/NZ4Kn8W63Gmo+sDRkXuBDIup2
aQdexacKLSh4Yck2RUpRIHLjFrW+JfV/v6pfKho7+6o1OHqYgGYxCGavQQSp7mSy
23V130E6s8asOjiWYYzZhNP0uNpVytRkSKgf9HSjfO8XG8YBm5cNbkAxfGyDgfSO
MA0im1IAXkz78qAsqwkBy0Md5sWOpVRNM+xCGf3dfvhpZuyC82RDUbyIoSSICOUw
KmPLkDQ2rhXm7+Ih10fqAVt69YE82Q7Waq9xj5WuL+eZ5u68ftaHP7MSa1cbN5j2
Ahd4KcSSwDO28RJAMQFr7ENdr0XiLPDhjX+g7JCZBAp7TTwRrjBwS2Bv3BtPxR1O
OYK7b6XABjTIAw5juJPLF5UCAwEAAQ==
-----END PUBLIC KEY-----
